# make.config
# Toolchain configuration for 68kOS

CROSS_COMPILE = m68k-elf-
CC      = $(CROSS_COMPILE)gcc
AS      = $(CROSS_COMPILE)as
LD      = $(CROSS_COMPILE)ld
OBJCOPY = $(CROSS_COMPILE)objcopy
GDB     = $(CROSS_COMPILE)gdb

# C99 standards, freestanding (no stdlib), and M68000 target
CFLAGS  = -std=c99 -m68000 -ffreestanding -O0 -g -Wall -Wextra
ASFLAGS = -m68000 -g
LDFLAGS = -nostdlib

# Memory Constants
MEM_START = 0x000000
MEM_SIZE  = 128K

# End of file
